/*--------------------
Fonts
--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

  
  
  @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');




/*--------------------
Global CSS
--------------------*/


body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    
    line-height: 1.5;
}



* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

.hero-img img{
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.btn-1 {
    background-color:#22194D;
    padding: 8px 30px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}
#combtn{
    background-color: #22194D;
}
#combtn:hover{
    background-color: rgb(3, 73, 135);
    color: white;
    border: 1px solid #22194D;
}
.btn-1:focus {
    box-shadow: var(--shadow-black-300);
}

/* .btn-1:hover {
    color:white;
    background-color: #22194D;
} */

.btn-2 {
    background-color: darkslateblue;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
}
.gap-2 {
    gap: 2rem !important;
  }
.btn-2:focus {
    box-shadow: var(--shadow-black-100);
}

.btn-2:hover {
    color: purple;
    background-color: #ffffff;
}

.btn-3 {
    background-color: var(--main-color);
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
}

.btn-3:focus {
    box-shadow: var(--shadow-black-100);
}

.btn-3:hover {
    color: var(--main-color);
    background-color: #ffffff;
}

.btn-hero {
    background-color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: purple;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}
.d-grid {
    
    gap: 2rem;
  }
.btn-hero:focus {
    box-shadow:darkmagenta;
}

.btn-hero:hover {
    color: #ffffff;
    background-color:darkmagenta;
}

@keyframes spin_01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceTop_01 {
    0%,
    100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0px);
    }
}

@keyframes pulse_01 {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes zoomInOut_01 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}
.logos img{
width: auto;

}
.effect-wrap .effect-1 {
    left: 25%;
    top: 15%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin_01 5s linear infinite;
}

.effect-wrap .effect-2 {
    right: 5%;
    top: 20%;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    animation: spin_01 7s linear infinite;
}

.effect-wrap .effect-3 {
    left: 2%;
    top: 64%;
    font-size: 25px;
    color: var(--secondary-dark-color);
    animation: bounceTop_01 3s linear infinite;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    font-family: "Poppins"
}

.section-title h2 span {
    color: var(--main-color);
}

.owl-carousel .owl-dots {
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
}

.owl-carousel button.owl-dot {
    height: 6px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}

.owl-carousel button.owl-dot.active {
    background-color: var(--secondary-dark-color);
}



/*--------------------
Navbar
--------------------*/
.navbar {
    background-color:#03498764;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.navbar.navbar-shrink {
    background-color:#034A87;

    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
    padding: 10px 0;
}

.navbar > .container {
    padding: 0 15px;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    /* text-transform: capitalize; */
}

.navbar .nav-item {
    margin-right: 40px;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 300;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color:purple;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

.navbar .nav-item .nav-link.active {
    font-weight: 600;
}

/*--------------------
Hero Section
--------------------*/
.hero {
    min-height: 100vh;
    padding: 90px 0;
    /* background-color:#310E68; */
    background: url(../EDC\ BG\ 02\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.hero .hero-text img {
    margin: 0 0 30px;
}

.hero .hero-text h1 {
    font-size: 40px;
    font-weight: 900;
    color: whitesmoke;
    margin: 0 0 30px;
    font-family: 'Signika Negative', sans-serif;

}

.hero .hero-btn {
    margin-top: 40px; 
}
#council{
    margin: 2rem 0rem;
}


.hero-text p {
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
    font-family: "Poppins"

}


.hero-img img {
    max-width: 400px;
    width: 70%;
    animation: bounceTop_01 3s ease infinite;
}

.hero-img {
    position: relative;
}


@media (max-width: 992px) {
   

    .navbar .nav-item .nav-link {
        font-size: 14px;
    }
    .gap-2{
        gap:1rem;
    }
}



@media (max-width: 767px) {
    .socmed {
        position: static;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .fun-facts .section-title h2 {
        text-align: center;
        margin-top: 20px;
    }

    .socmed .row i {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }

    .navbar-collapse {
        background-color:#03498764;
        box-shadow: var(--shadow-black-300);
        padding: 20px 20px;
    }

    .navbar .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
        
    }

    .hero .hero-text {
        text-align: center;
    }

    .hero .hero-text h1 {
        font-size: 22px;
        margin: 0 0 20px;
    }

    .hero .hero-text p {
        font-size: 14px;
        line-height: 20px;
    }

    .hero-img {
        padding: 20px 0;
    }
}
@media (max-width:1440px){
.nav-item i{
display: none;
}
}

    @media (min-width:992px){
        .logos img{
            margin-right: 25px;
        }
    }
