@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap');
.teas{
  background-color: #22194D;
  /* background: url(Assets/Cover.png);
    background-repeat: no-repeat;
    background-size: cover; */
  height:auto;
  text-align: center;
}
h1{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 9px;
  padding-top: 25px;
}

#css {
  color: royalblue;
}

.carousel-wrapper {
  height: 35vh;
  position: relative;
  width:80%;
  display: block;
  margin: 1rem auto ;
  border: 2px solid black;
 border-radius:4px ;
 top:3%;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}


[id^= "item"] {
  display: none;
}
.carousel-wrapper{
  z-index: 2;
  opacity: 1;
  background: url('./counci.png');
  background-size: cover;
  border-radius: 30px;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .8s ease-in-out; 
  
  
}
.carousel-wrapper:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  
}
.bn3 {
  display: inline-block;
  padding: 10px 30px;
  margin: 2rem 2rem 3rem 2rem;
  border-radius: 30px;
  border: 3px solid white;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  transition: all 0.2s;
 font-size: 10px;
 background-color: #5b065b;
}

.bn3:hover {
 color: whitesmoke  ;

}


*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
} 
@media(min-width:576px){
  .bn3{
      font-size: 12PX;
    }
    .carousel-wrapper{
      height:30vh;
    }
    h1{
      font-size: 30px;
    }
    .teas{
      height: auto;
      max-height: auto;
    }
}
@media(min-width:768px){
  .bn3{
      font-size: 14px;
      margin-top: 2rem;
    }
    .carousel-wrapper{
      height:45vh;
      /* top:7% */
    }
    h1{
      font-size: 30px;
  margin-bottom: 0px;
    }
    .teas{
      max-height: auto;
    }
}
@media only screen and (max-width: 1440px) and (min-width: 992px){
  .bn3{
    font-size: 16px;
    margin-top: 3rem;
  }
  .carousel-wrapper{
    height:80vh;
  }
  h1{
    font-size: 35px;
  }
  .teas{
    max-height:auto;
  }
}
@media(min-width:1440px){
 
    h1{
      font-size: 45px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      margin-bottom: 0;
    }
    
    #css {
      color: royalblue;
    }
    
    .carousel-wrapper {
      height: 80vh;
      position: relative;
      width:80%;
      display: block;
      margin: 50px auto ;
      border: 2px solid black;
     border-radius:4px ;
    }
    
    .carousel-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 25px 50px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
    
    
    [id^= "item"] {
      display: none;
    }
    .item-1 {
      z-index: 2;
      opacity: 1;
      background: url('IMG-20220922-WA0006.jpg');
      background-size: cover;
      border-radius: 30px;
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out; 
      
      
    }
    .item-1:hover{
      filter: none;
      -webkit-filter: grayscale(0);
      
    }
    .teas{
      max-height:auto;
    }
    .bn3 {
      font-size: 18px;
    margin-top: 3rem;

      }
      *:target ~ .item-1{
        opacity: 0;
      }
      #item-1:target ~ .item-1 {
        opacity: 1;
      
      }
      #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
        z-index: 3;
        opacity: 1;
      } 
  }
  @media only screen and (max-width: 480px) and (min-width: 320px){
    .carousel-wrapper{
      height: 25vh;
    }
  }