@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	/* overflow-x: hidden; */
}
body{
	font-size: 16px;
	color: white;
	line-height: 24px;
	font-weight: 400;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    transition: all 200ms linear;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
h6,h1{
	text-align: center;
}

/* Mobile  */

html{
	font-size: 70%;
}
img{
	width: 50%;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
    opacity: 0
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.contact{
	margin: 12px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.contact a{
	color: #ffffff;
}
i{
	font-size: 18px;
	margin: 12px;
	background: -webkit-linear-gradient(135deg, #A547F3 0%, #34B4FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contactclass{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 16px 0px;
}
.contactclass p{
	margin: 0;
}
.contactclass img{
	width: 74px;
	cursor: none;
	height: 74px;
}
.heading{
	font-size: 24px;
}
#contactus{
	background-color:#233d68;
	/* background: url(./Assets/Cover.png);
	background-color: #000000;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}
.contactus{
	/* background: linear-gradient(#1A1819, #1E2666, #1b2881 );  */
	display: flex;
	justify-content: center;
	align-items: center;
flex-direction: column;
}
h1{
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}
.mapcontainer{
width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
iframe{
	border-radius: 20px;
width: 90%;
height: 324px;
filter:none ;
}
/* Footer  */
.h3,h3 {
	font-size: 1.75rem;
	overflow: hidden;
}
.site-footer .widget{
align-items: center;
justify-content: center;
text-align: center;
display: block;
	position: relative;
	z-index: 1;
}
li a{
text-align: center;
align-items: center;
justify-content: center;
}
.site-footer .social li {
	display: inline-block;
}
.site-footer .social li a {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	color: #000000;
}
.site-footer .widget .links li a {
	color: rgba(255, 255, 255, 0.5);
}
ol,
ul {
	margin-top: 0;
	margin-bottom: 26px;
}
.site-footer .social li a>span {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
#Section5 p {
	margin-top: 0;
	margin-bottom: 1rem;
}
.site-footer .widget h3 {
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 30px;
}
.row {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
#Section5 .container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.site-footer {
	/* background: #5b065b; */
	background: url(Cover.png) no-repeat;
background-size: cover;
	font-size: 14px;
	color: #ffffff;
	padding: 70px 0;
}
[class^="icon-"] {
	font-family: 'icomoon' !important;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ul>li {
	display: list-item;
	text-align: -webkit-match-parent;
	padding: 10px 10px 10px 0px;
}
.float-left {
float:none !important;
}
.widget img{
	width: 40%;
}

/* EVENTS  */
h1{
	text-transform: uppercase;
}
.ehead{
	font-size: 62px;
	font-weight: 800;
	text-align: center;
	line-height: 10rem;
}
.eventsec .cover{
	background-color: #061C51;
	color: whitesmoke;
	min-height: 100vh;
	/* width: 96%; */
	padding: 0px;
	/* border: 3px solid whitesmoke; */
}
.content{
	/* display: inline-block; */
	margin: auto ;
}
.para{
	margin: 3rem;
	align-items: center;
	text-align: justify;
	display: none;
}
/* .content:hover{
	display: none;
} */
.eventbox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:flex-start;
}
/* Tablet */
@media (min-width: 576px){
	html{
		font-size: 90%;
	}
	.contactclass img{
		width: 104px;
		height: 104px;
	}
.maincontainer{
	flex-direction: column;
}
.mapcontainer{
	width: 90%;
}
iframe{
	position: relative;
	bottom: 20%;
	display: block;
	margin: auto;
	width: 90%;
}
.site-footer .widget{
	align-items: center;
	justify-content: center;
	text-align: center;
}
 li a{
	text-align: center;
	align-items: center;
	justify-content: center;
}
.float-left {
	float:none !important;
}
/* events  */
#sectionheads{
	font-size: 112px;
	font-weight: 800
	;
 }
 .ehead{
	font-size: 102px;
 }
 
 }
 ::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-track{
	background:#16364E;
   
}

::-webkit-scrollbar-thumb{
	 background:rgb(6, 122, 122);
	border-radius: 9px;
	
	
}
 
/* From Medium  */
@media (min-width:768px){
	.foots{
		display: flex;
		justify-content: space-between;
	}
	.contact{
		margin: 12px 0px;
	}
	.contactclass img{
		width: 144px;
		height: 144px;
	}
	i{
		font-size: 20px;
		margin: 12px;
	}
	.contactclass{
		margin: 16px 0px;
		/* background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */
padding: 12px;
width: 100%;

	}
	.contactclass p{
		margin: 0;
	}
	.heading{
		font-size: 34px;
	}
	.contactus{
	flex-direction: row;
	justify-content: space-between;
	margin-top: 32px;
	margin-left: 64px;
	}
	

	.mapcontainer{
		width: 50%;
	}
	iframe{
		height: 352px;
		/* filter: invert(100%); */
	}
	/* footer  */
	.site-footer .widget {
		margin-bottom: 40px;

	}
	.site-footer .widget ul{
		
			float: none !important;

	}
	.float-left {
		float: left !important;
	}
	
	.site-footer .widget .links li a:hover {
		color: #ffffff;
		text-decoration: none;
		transition: 1s;
	}
	
	#Section5 .col-lg-3 {
		position: relative;
		/* width: 100%; */
		padding-right: 15px;
		padding-left: 15px;
	}
	
	.col-lg-12>p {
		margin-top: 30px;
	}
	/* events  */
	#sectionheads{
		font-size: 112px;
		font-weight: 800
		;
	}
	.ehead{
		font-size: 72px;
	}
	
	}
 
	@media (min-width:992px){
	html{
		font-size: 50%;
	}
	.contactclass img{
		width: 180px;
		height: 180px;
	}
	.contactus{
		margin:32px;
	}
	.maincontainer{
		flex-direction: row;
	}
	.mapcontainer{
		width: 50%;
	}
	iframe{
		width: 90%;
		height: 460px;
	}
	.widget img{
		width: 100%;
	}
	/* events  */
	.ehead{
		font-size: 72px;
		line-height: 10rem;
		overflow: hidden;
	}
	.cover{
		min-height: 80vh;
	}
} 